@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  html {
    background-color: #97dbfc;
opacity: 1;
background-image:  linear-gradient(#E0F2FE 1.3px, transparent 1.3px), linear-gradient(to right, #E0F2FE 1.3px, #97dbfc 1.3px);
background-size: 26px 26px;
  }

  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl text-red-500;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  /* Running text */
  /* (A) FIXED WRAPPER */
  .hwrap {
    overflow: hidden;
    /* HIDE SCROLL BAR */
    background: #eee;
  }

  /* (B) MOVING TICKER WRAPPER */
  .hmove {
    display: flex;
  }

  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }

  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% {
      transform: translate3d(100%, 0, 0);
    }

    100% {
      transform: translate3d(-150%, 0, 0);
    }
  }

  .hmove {
    animation: tickerh linear 20s infinite;
     -webkit-text-stroke: 1px black;
  }

  .hmove:hover {
    animation-play-state: paused;
  }
}